*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.general {
    width: 100%;
    height: auto;
    background-color: rgb(21, 44, 96);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 80%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.nav{
    width: 100%;
    height: auto;
    background: white;

}

.nav .img{
    display: flex;
    justify-content: center;
}

.img .img-nav{
    width: 35%;
    height: auto;
}

.menu {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    background: steelblue;
    display: none;
}

.menu li{
    flex: auto;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.menu li :last-child{
    border: none;
}

.menu li .img{
    width: 100%;
    display: flex;
    justify-content: center;
    background: white;
}

.menu a {
    color: #eee;
    text-decoration: none;
    line-height: 3;
    display: block;
    padding-right: 1.5em;
    font-weight: bold;
    font-size: .8em;
    text-align: right;
}

#toggle-menu{
    background: steelblue;
    line-height: 2.5;
    color: white;
    padding-right: 1em;
    cursor: pointer;
    text-align: right;
    }

#toggle-menu:hover{
    background: rgba(70, 130, 180, 0.6);
}

.menu a:hover {
    background: rgba(0, 0, 0, 0.2);
}

.contenido {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    background-image: url('/img/terminal-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.contenido .texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 40%;
    height: auto;
    padding: 5%;
    background-color: rgb(255, 255, 255, 0.8);
    color: rgb(49, 49, 49);
    text-align: left;
}

.contenido .texto .img-logo {
    width: 100%;
    height: auto;
}

.contenido h1{
    font-size: 2.8rem;
    color: rgb(85, 85, 85);
    font-family: 'Zilla Slab', serif;
    text-align: center;
}

.contenido h2{
    font-size: 0.8rem;
    text-align: center;
    font-weight: normal;   
}

.contenido p{
    font-size: 0.75rem;
    text-align: justify;
}

.footer {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 80%;
    background: rgb(255, 255, 255, 0.6);
    text-align: center;
}

.redes {
    font-weight: bold;
    font-size: smaller;
}
.redes a{
    text-decoration: none;
    color: rgba(85, 85, 85);
}

/* -------------- PARA PANTALLA COMUN --------- */

@media screen and (min-width: 768px){
     
    .menu {
        display: flex !important;
    }

    .img .img-nav{
        width: 18%;
        height: auto;
    }
    .contenido {
        background-image: url('/img/terminal.jpg');
    }

    .contenido .texto {
        text-align: center;
    }

    .contenido .texto .img-logo {
        width: 100%;
        height: auto;
    }

    .contenido h1{
        color: rgb(85, 85, 85);
        font-size: 3.5rem;
        font-family: 'Zilla Slab', serif;
    }
    
    .contenido h2{
        font-size: 0.85rem;
        font-weight: lighter;
    }

    .contenido p{
        font-size: smaller;
        text-align: justify;
    }

    .menu li{
        text-align: center;
        border-bottom: 0;
    }

    .menu a {
        text-align: center;
        padding-right: 0;
        font-weight: bold;
        font-size: small;
        line-height: 2;
    }

    #toggle-menu {
        text-align: center;
        display: none;
    }

    .footer {
        position: fixed;
        bottom: 0;
        z-index: 1;
        width: 80%;
        background: rgb(255, 255, 255, 0.6);
        text-align: center;
    }

    .redes {
        font-weight: bold;
        font-size: small;
    }
    .redes a{
        text-decoration: none;
        color: rgba(4, 49, 95);
    }
}