.titulo {
    width: 100%;
}
.reservas {
    display: flex;
    padding:0;
}

.bloque {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.campos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vh;
}

.formulario, .reser-asiento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vh;
    margin-bottom: 10px;
}
input{
    padding: 4px;
    border: 2px solid rgba(85,85,85, 0.5);
    border-radius: 5px;
    width: 9rem;
    height: 1.5rem;
    font-weight: bold;
    font-size: 0.8rem;
    color: rgb(85, 85, 85);
    text-transform: uppercase;
    text-align: center;
}

select {
    padding: 4px;
    border: 2px solid rgba(85,85,85, 0.5);
    border-radius: 5px;
    width: 9.7rem;
    height: 2.2rem;
    font-weight: bold;
    font-size: 0.8rem;
    color: rgb(85, 85, 85);
    text-transform: uppercase;
    text-align: center;
}


/*------------------------------------------------------------*/
.asientos {
    margin: 3px;
    width: 150px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/img/Asientos\ Fondo-01.png);
    background-size: cover;
    background-position: center;
}

.grilla {
    display: grid;
    grid-template: repeat(8,1fr) / repeat(4,1fr);
    grid-gap: 3px;
}

.nro_asiento {
    width: 30px;
    height: 30px;
    border: 1px solid steelblue;
    border-radius: 3px;
    color: rgb(85, 85, 85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: white;
    margin: 0;
}

.grilla .nro_asiento:hover{
    background-color:rgb(12, 179, 12);
    color:white;
}

.grilla .inactivo {
    width: 30px;
    height: 30px;
    border: 1px solid steelblue;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 0;
    background-color: rgb(12, 179, 12);
    color: white;
}

.grilla .inactivo:focus {
    color: inherit;
    outline: inherit;
}

.ocupado {
    width: 30px;
    height: 30px;
    border: 1px solid steelblue;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 0;
    background-color: rgb(191, 191, 191);
    color: rgb(85,85,85)
}

.ocupado:hover{
    background-color: rgb(191, 191, 191);
}

#conductor {
    grid-column: span 4;
    grid-row: span 2;
}
#pasillo {
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 8;
}
#conductor .vacio {
    width: 28px;
    height: 28px;
    border: 1px solid steelblue;
    border-radius: 2px;
    background-color: rgb(184, 184, 184);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

@media screen and (min-width:768px){
    .campos {
        /*margin-top: 3rem;*/
    }

    .boton_reserva {
        width: 100vw;
    }
}