* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(21, 44, 96);
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 1080px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,auto);

    grid-template-areas: "header header header"
                         "main main main"
                         "footer footer footer";
}

.contenedor .head {
    background: #fff;
    padding: 0;
    color: #12203E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: header;
}

.head #desplegable {
    display: none;
    width: 100%;
    text-align: end;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2.5;
    background: steelblue;
}

.head #desplegable i {
    color: #fff;
    padding-right: 1.5em;
}

.contenedor .principal {
    /*grid-column: span 2;*/
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-template-areas: "texto texto2";
    background-image: url('/img/terminal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.principal .texto {
    grid-area: texto;
    padding: 40px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.8);
    color: rgb(49, 49, 49);
    font-size: smaller;
}

.principal .texto h2 {
    text-align: center;
    font-size: 0.85rem;
    font-weight: lighter;
}

.principal .texto2 {
    grid-area: texto2;
}

.contenedor .foot {
    /*grid-column: span 3;*/
    background: #fff;
    color: #12203E;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: footer;
    font-size: small;
    font-weight: bold;
    text-align: center;
}

#icon-facebook {
    font-size: 1rem;
}

.foot a{
    width: 100%;
    color: rgba(4,49,95);
    text-decoration: none;
    line-height: 2.5;
}

.foot:hover {
    background: steelblue;
}

.foot a:hover{
    color: #fff;
}



/* Esturctura dos*/

.menu {
    width: 100%;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    background: steelblue;
    display: flex;
    flex-direction: row !important;
}

.menu li{
    text-align: center;
    flex: auto;
}

.menu a {
    color: #eee;
    text-decoration: none;
    line-height: 2.5;
    display: block;
    font-weight: bold;
    font-size: small;
    text-align: center;
}

.menu a:hover {
    background: rgba(0, 0, 0, 0.2);
}

#icon-nav {
    font-size: 1rem;
}

/* -------------- TAMAÑO MOBILE ------------------ */

@media screen and (max-width: 768px) {

    .principal .texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }

    .contenedor {
        width: 90%;
        max-width: 1000px;
        margin: 0px auto;
        grid-template-areas: "header header header"
                             "main main main"
                             "footer footer footer";
    }
    
    .menu a {
        color: #eee;
        text-decoration: none;
        line-height: 3;
        display: block;
        font-weight: bold;
        font-size: .8em;
    }

    .head #desplegable i {
        padding-right: 0;
    }

    .contenedor .principal {
        background-image: url('/img/terminal-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        grid-template-areas: "texto2 texto2"
                             "texto texto";
    }

    .texto picture {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .texto picture img#img-logo {
        width: 95%;
        margin: 30px;
    }
}
